server {
    root  /var/www/html;

    location / {
        index  index.html index.php;
    }

    location ~ \.php$ {
       fastcgi_pass   myapp-php:9000;
       fastcgi_param  SCRIPT_FILENAME  $document_root/$fastcgi_script_name;
       include        fastcgi_params;
    }
}

